# Files listed between (files/endfiles) will be symlinked to your (home/.*).

[files]

git/gitconfig

zsh/zshrc
zsh/zshenv
zsh/zlogin
zsh/zprofile

lib/nbrc

[endfiles]

# Listed between (configfiles/endconfigfiles) will be symlinked to your (home/.config/*).
[configfiles]

config/micro

[endconfigfiles]
