# Files listed between (files/endfiles) will be symlinked to your (home/.*).

[files]

dosym/git/gitconfig

zsh/zshrc
zsh/zshenv
zsh/zlogin

dosym/nbrc

[endfiles]

# Listed between (configfiles/endconfigfiles) will be symlinked to your (home/.config/*).
[configfiles]

config/micro

[endconfigfiles]
